asgiref==3.5.0
backports.zoneinfo==0.2.1
Django>=4.0.7
sqlparse==0.4.2
django-cors-headers==3.11.0
djangorestframework==3.13.1
PyMySQL==1.0.2
pytz==2022.1
tzdata==2022.1
googlemaps==4.6.0
pandas==1.4.2
scikit-learn==1.0.2
scipy==1.8.0
hdbscan==0.8.28
django-dotenv==1.4.2
djangorestframework_simplejwt==5.2.0
pyjwt
numpy~=1.22.3
google_play_scraper==1.2.0
tweepy==4.10.0
nltk==3.7
django-apscheduler==0.6.2
django-environ==0.9.0
